@use '../custom' as *;
@use '../components/mixins' as *;

.btn-rounded{
    @include media-breakpoint-down(lg) {
        display: none;
    }

    background-color: $secondary;
    padding: 0.6rem 3rem;
    color: $white;
    font-weight: 700;
    
    &:hover{
        background-color: #00454C;
        color: $white;
    }
}

.btn-card {
    padding: 0.6rem 3rem;
    background: $primary;
    font-weight: 700;
    color: $white;

    &:hover {
        background-color: #00454C;
        color: $white;
    }
}